:root{
    --backgrond-color: white;
    --second_color: #7288ab;
    --Third_color: rgb(35, 73, 135);
    --barra: 20px;
    
}

html{
    scroll-behavior: smooth;
}

main{
    padding-left: 25%;
    padding-right: 25%;
}

body{
    font-family: "Quicksand";
    background-color: var(--backgrond-color);
    margin:0;
}

.top_nav{
    display: inline-flex;
    background-color: var(--second_color);    
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;

    animation-name: example0;
    animation-duration: 1s;
    animation-iteration-count:1;
    
}


@keyframes example0 {
    0%   {left:-1000px; top:0px;}
    100% { left:0px; top:50px;}
    
}

.top_nav p{
    font-size: 50px;
}

.h1_top_nav{
    color: var(--backgrond-color);
    letter-spacing: 4px;
    margin-left: 1rem;
}

.li_nav{
    padding: 11px;
    display:inline-block;
    margin-left: 1rem;
    letter-spacing: 3px;
    font-size: 15px;
}

.li_nav a, footer a{
    text-decoration: none;
    color: var(--backgrond-color);
}

.li_nav a:hover{
    color: black;
    transition: .5s ease;
}

footer a:hover{
    color: black;
    transition: .5s ease;
}

/* início header */

header{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 150px;
 
   padding-left: 150px;
   padding-right: 150px;
   letter-spacing: 4px;
   background-image: linear-gradient(to bottom, transparent, white), url(header.jpg);
   background-position: center top;
   background-size: cover;
   background-repeat:no-repeat;
}

.header_main h1{
    font-size: 15vw;
    margin-bottom: 0;
    color: var(--second_color);
}

.header_main p{
    font-size: 1.5vw;
    margin-bottom: 0;
    color:black;
}

.header_main{
    position: relative;
    animation-name: example0;
    animation-duration: 3s;
    animation-iteration-count:1;
    padding-bottom: 150px ;
  
}

@keyframes example0 {
    0%   {left:-1000px; top:0px;}
    100% { left:0px; top:0px;}
  }


/* Início Sobre mim */

.about_me_txt{
    display: flex;
    flex-direction:column;
    /* border: 2px solid red; */
    font-family: "Quicksand";
    padding-top: 100px;
}

.about_me_txt h1, .portfolio h1, .contato h1{
    font-size: 3vw;
}

.about_me_txt p, .portfolio p, .contato p{
    font-size: 1.5vw;
}

.sobre_mim{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
   
}


/* Início Skill */

.Tech_skill{
    width: 50%;
}

.text_skill{
    color: black;
    text-transform: uppercase;
}

.html{
    background-color: var(--second_color);
    height: var(--barra);
    width: 100%;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count:3;
    border-radius: 25px;

}

@keyframes example {
    0%{width: 0%;}
    100%{width: 100%;}

}

.css{
    background-color: var(--second_color);
    height: var(--barra);
    width: 80%;
    margin-bottom: 30px;
    animation-name: example2;
    animation-duration: 30s;
    animation-iteration-count:3;
    border-radius: 25px;
}

@keyframes example2 {
    0%{width: 0%;}
    100%{width: 80%;}
}

.js{
    background-color: var(--second_color);
    height: var(--barra);
    width:30%;
    padding: auto;
    margin-bottom: 30px;
    animation-name: example3;
    animation-duration: 30s;
    animation-iteration-count:3;
    border-radius: 25px;
}

@keyframes example3 {
    0%{width: 0%;}
    100%{width: 30%}
}

.git{
    background-color: var(--second_color);
    height: var(--barra);
    width: 22%;
    margin-bottom: 30px;
    animation-name: example4;
    animation-duration: 30s;
    animation-iteration-count:3;
    border-radius: 25px;
}

@keyframes example4 {
    0%{width: 0%;}
    100%{width: 22%}
}

.SQL{
    background-color: var(--second_color);
    height: var(--barra);
    width: 22%;
    margin-bottom: 30px;
    animation-name: example5;
    animation-duration: 30s;
    animation-iteration-count:3;
    border-radius: 25px;
}

@keyframes example5 {
    0% {width: 0%;}
    100% {width: 22%}
}


/* portfolio */

.portfolio{
    height: 400px;
}


/* icone projetos */

.container {
    position: relative;
    width: 200px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    background-image: url(assets/imgs/bolo.jpg);
  }
  
  .image {
    display: block;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 25px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--second_color);
    border-radius: 25px;
    
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .container img{
    background-size: contain;
    
  }
  
  .text {
    color: white;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .part2{
    
    display: flex;
    flex-direction: column;
  }

  footer{
    width: 100%;
    height: 50px;
    background-color: var(--second_color);
  }

  footer div{
    width: 100%;
    height: 50px;
    display: inline-block;
    justify-content: center;
  }

  footer p{
    text-align: center;
    color: white;
  }

  .wpp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: red;
    
}



  .contato{
    padding-bottom: 100px;
  }


  @media screen and (max-width: 800px){

    main{
        padding:10%;
    }
  
    
    .top_nav{
        background-color: var(--second_color);
        width: 100%;
        height: auto;
        opacity: 1;
        margin: 0;

        flex-direction: column;
        font-size: AUTO;
    
    }

    .h1_top_nav{
        font-size: 100%;
    }

   .ul_nav{
    display: flex;
    flex-direction: ROW;
    margin: 0;
    padding: 0;
   }

   .ul_nav a{
    font-size: 9px;
    margin: 0;
    padding: 0;
   }

   .header{
        letter-spacing: 4px;
        background-image: linear-gradient(to bottom, transparent, white), url(assets/imgs/header.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat:no-repeat;
        
     }
     
     .header_main h1{
         font-size: 40vw;
         margin-bottom: 0;
         color: var(--second_color);
     }
     
     .header_main p{
         font-size: 4vw;
         margin-bottom: 0;
         color: black;

     }

     .about_me_txt{
        display: flex;
        flex-direction:column;
        /* border: 2px solid red; */
        font-family: "Quicksand";
        padding-top: 100px;
      
    }

    .about_me_txt h1, .portfolio h1, .contato h1{
        font-size:6vw;
    }

    .about_me_txt p, .portfolio p, .contato p{
        font-size: 4vw;
    }

    .sobre_mim{
        display: flex;
        flex-direction: column;
        /* border: 2px solid blue; */
        width: 100%;
        height: 100%;
        /* padding-right: 100px; */
    }


    .Tech_skill{
        width: 100%;
         height: 100%;
    }
    .image {
        display: block;
        width: 200px;
        height: 200px;
        background-size: cover;
        border-radius: 25px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px;
        width: 200px;
        opacity: 0;
        transition: .5s ease;
        background-color: var(--second_color);
        border-radius: 25px;
    }

    .part2{
        display: flex;
        flex-direction: column;
    }

    .portfolio{
        height: 400px;
    }

    .contato img{
        width: 50px;
        height: 50px;
    }
    
    .text{
        font-size: 4vw;
    }

    footer div{
        width: 100%;
        height: 70px;
        display: inline-block;
        justify-content: center;
      }

      footer{
        width: 100%;
        height: 70px;
        background-color: var(--second_color);
      }
    
}