:root {}

html {
  scroll-behavior: smooth;
  background: linear-gradient(360deg, rgba(170, 170, 170, 1) 0%, rgba(238, 238, 238, 1) 100%);
  margin: 0px;
  padding: 0px;

  font-family: "Krub", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;

}



.wpp {
  position: fixed;
  bottom: 10px;
  right: 10px;

  animation-name: example2;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.content {
  /* border: 1px red solid; */
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  width: auto;

}

header {

  width: 100%;
  height: 775px;
}

#header2 {}

.top-nav {
  position: fixed;
  top: 20px;
  left: 10.2%;
  

  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #FFBB00 100%);
  border-radius: 50px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;


  width: 79.6%;
  height: 80px;


}

.top-nav a{
  padding: 20px;
  text-decoration: none;
  color: black;
}

.menu {
  width: 300px;
  padding: 0px;
}


.top-nav div{
  display: flex;
  padding: 10px;
 
}

.top-nav div:first-child{
  display: flex;
  width: 15%;
 
  
  align-items: center;
}

.top-nav div:last-child{
  display: flex;
  width: 60%;
  
  
  padding: 0px;
  justify-content: end;
  align-items: center;
}

ul{
  display: flex;
  justify-content: center;
}

.top-nav h1 {
  padding-left: 50px;

}

.li_nav {
  padding-top: 10px;
  display: inline-block;
  padding: 2px;
  text-decoration: none;
}


.head_open {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.open {
  /* background-color: rosybrown; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.open h1 {
  font-size: 100px;
  margin: 0px;
}

.open h2 {
  font-size: 25px;
}

.orçamentobtn {
  background-color: #FFBB00;
  padding: 15px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.orçamentobtn:hover {
  color: rgb(90, 88, 88);
  transition: .2s;
  padding: 17px;
}



.foguete01 {
  display: flex;
  position: absolute;
  margin-right: 22%;
  margin-bottom: -15%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;

  animation-name: example2;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}


@keyframes example2 {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-40px);
  }

  100% {
    transform: translatey(0px);
  }
}


.foguete02 {
  display: flex;
  position: absolute;
  margin-right: -10%;
  margin-bottom: 25%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;

  animation-name: example3;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;


}

@keyframes example3 {
  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatex(20px)
  }

  50% {
    transform: translatex(1px);
    transform: translatey(-20px)
  }

  75% {
    transform: translatey(20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.foguete03 {
  display: flex;
  position: absolute;
  margin-right: -28%;
  margin-bottom: 0%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;


  animation-name: example2;
  animation-duration: 15s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.foguete04 {
  display: flex;
  position: absolute;
  margin-right: 0%;
  margin-bottom: -45%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;


  animation-name: example2;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.foguete05 {
  display: flex;
  position: absolute;
  margin-right: 35%;
  margin-bottom: 0%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;


  animation-name: example4;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes example4 {
  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatex(10px)
  }

  50% {
    transform: translatex(1px);
    transform: translatey(-20px)
  }

  75% {
    transform: translatey(20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.foguete06 {
  display: flex;
  position: absolute;
  margin-right: -28%;
  margin-bottom: 25%;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  border: 2px solid black;


  animation-name: example2;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.foguete99 {
  display: flex;
  position: fixed;
  margin-right: -30%;
  margin-bottom: -5%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;


  animation-name: example99;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.foguete98 {
  display: flex;
  position: fixed;
  margin-right: -30%;
  margin-bottom: 25%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;


  animation-name: example99;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.foguete97 {
  display: flex;
  position: fixed;
  margin-right: -30%;
  margin-bottom: 10%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;


  animation-name: example99;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}



@keyframes example99 {
  0% {
    transform: translatex(0px);
  }


  50% {
    transform: translatex(100px);
  }


  100% {
    transform: translatex(0px);
  }



}


.animation {
  /* background-color: green; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center
}

.animation2 {
  /* background-color: green; */
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center
}

.web {
  position: relative;
  margin-left: 10%;
  margin-bottom: 20%;

  width: 40%;
  height: 40%;
  background-color: white;
  border: 3px solid black;

  display: flex;
  flex-direction: column;


  animation-name: example1;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;


}

@keyframes example1 {
  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatey(-40px)
  }

  50% {
    transform: translatey(0px);
  }

  75% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}


.web .line {
  width: 50%;
}

.wnav {
  width: 100%;
  height: 5%;
  background-color: #FFBB00;


}

.wheader {}

.wimg {
  background-color: #FFBB00;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: right;
  align-items: start;

}

.wimg p,
.mimg p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-left: 10px;
  margin-right: 10px;
}

.estrela {
  padding: 10px;
}

.wtext {}

.line {
  background-color: black;
  width: 100%;
  height: 5px;
  margin-top: 15px;
}


.mobile {
  position: relative;
  top: 10%;
  right: 20%;

  width: 60%;
  height: 50%;
  background-color: white;
  border: 3px solid black;

  animation-name: example1;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}

.mheader {
  padding: 10px;

}

.mimg {
  background-color: #FFBB00;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

}


p {
  margin: 0px;
}

main {
  /* border: 2px yellow solid; */
  width: 100%;
  height: 775px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

#contato {
  /* border: 2px yellow solid; */
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* align-items: end; */
}

footer {
  /* border: 1px yellow solid; */
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, #FFBB00 100%);

  width: 99.8%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


  footer div {
    padding-left: 10px;
   }
 


input[type=text] {
  height: 50px;
}

input::placeholder {
  white-space: pre-line;
  color: black;
  font-size: 18px;
}

input {
  width: 90%;
  height: 100px;
  font-family: "Krub", sans-serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 20px;
  border: none;
  text-align: center;

}

textarea {
  width: 90%;
  white-space: pre-line;
  font-family: "Krub", sans-serif;
  font-weight: 300;
  font-style: normal;

  border-radius: 20px;
  border: none;
  text-align: center;
}

textarea::placeholder {
  color: black;
  font-size: 18px;
}

.title_contato {
  justify-items: center;
}

.solicite button {
  border-radius: 10px;

}

.biografia {
  /* background-color: rosybrown; */
  width: 50%;
  height: 100%;

  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
}



.biografia img {
  border-radius: 40%;


}

.solicite {
  /* background-color: green; */
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.soliciteh2 {
  background-color: #FFBB00;

  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 20px;


  animation-name: example1;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;

}

@keyframes example1 {
  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatey(20px)
  }

  50% {
    transform: translatey(0px);
  }

  75% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}



form {
  /* border: 2px solid red; */
  padding: 10px;
  justify-content: center;
}

.contato_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  justify-content: end;
  align-items: end;
}


.carousel {
  display: flex;
  flex-direction: row;

}

.carousel div {
  background-color: #ffbb00a8;
  height: 350px;
  width: 250px;
  margin: 10px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.carousel p {
  text-align: center;
  align-items: center;

}

.carousel a {

  text-decoration: none;
  color: black;
}



.item {
  transition: .35s;
  cursor: pointer;
}

.carousel:hover> :not(:hover) {
  opacity: .4;
  transform: scale(0.9);
}


@media screen and (max-width: 800px) {

  .wpp {
    position: fixed;
    bottom: 100px;

  }

  header {
    height: 100%;
  }

  .open {
    width: 100%;
    height: 100%;
    padding-top: 40%;
    padding-bottom: 10%;
    text-align: center;
  }

  .head_open {
    display: flex;
    flex-direction: column-reverse;
  }

  .animation {
    display: NONE;
  }

  .web {
    display: none;
  }

  .mobile {
    display: none;
  }

  .carousel {
      display: flex;
  flex-direction:column;

    
  }

  .carousel img{
    width: 60px;
    height: 60px;
  }

  .carousel div{
    width: 100px;
    height: 200px;

    
  }


  .carousel p {
    font-size: 8px;
  }



  #projetos {

    text-align: center;
    padding-top: 40%;
    padding-bottom: 10%;

    height: 100%;
  }

  #contato {

    padding-top: 35%;
    padding-bottom: 10%;


    height: 100%;
  }

  .biografia {
    padding: 0px;
    width: 100%;
    height: auto;
    background-color: #ddd;

    padding: 0px;
    border-radius: 20px;
    margin: 0px;


  }

  .biografia p {
    padding: 10px;
  }

  .solicite {
    width: 100%;
    padding-bottom: 50px;
    animation: 123;
  }

  .soliciteh2 {
    animation: none;
  }

  .contato_container {
    display: flex;
    flex-direction: column-reverse;

    /* padding-bottom: 40%; */

  }

  footer {
    height: 80px;
  
    justify-content: space-between;
    
  
  }

  .redes {
    display: flex;
    flex-direction: row;
  

  }

  footer div {
   padding-left: 10px;
  }

  .redes img {
    padding: 2px;
  }

  .numero {
    display: none;
  }

  .nome {}

  .li_nav {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
  }

  .top-nav {
    position: fixed;
    top: 0px;
    left: 0px;

    justify-content: space-between;
    height: 100px;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
  }

  .top-nav div {
    padding: 10px;

  }

  .top-nav ul {
    
  }

  
  .ul {
   justify-content: center;
    
    
  }

  .top-nav a{
    padding: 5px;
    text-decoration: none;
    color: black;
  }

  .menu {
    width: 300px;
    padding: 0px;
  }

  .top-nav h1 {
    padding: 0px;
  }

  .open_content h1 {}


}